html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Raleway";
  src: url(./Raleway-VariableFont_wght.ttf);
}
* {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-family: "Joan-Regular", Georgia, Verdana;
}

.h-link{
  cursor: pointer;
  transition: 200ms;
}

.h-link:hover{
  border-bottom: 3px double black ;
}

.h-link-mob {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* text-decoration: none; */

  cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
}

#container-nav {
  position: fixed;
  width: 100%;
  height: 7rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.75rem;
  background-color: rgb(238, 247, 255);
  z-index: 10;
}

#container-logo {
  margin-right: 15rem;
  margin-left: 5rem;
}

#logo {
  display: block;
  width: 7.5rem;
}

.nav-item {
  height: auto;
}

.h-link {
  padding: 1rem;
}

.h-p {
  text-decoration: none;
}

#contact {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 4rem;
  gap: 2rem;
  align-items: center;
  transition: 300ms;
}

#contact-mob {
  display: none;
}

#contact #contact-p {
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.contact-item {
  display: none;
  height: 100%;
  padding: 1.25rem 1rem;
  transition: 250ms;

}

#contact:hover .contact-item {
  display:initial;
  opacity: 1;
  transition: 250ms;
}

.contact-item:hover {
  background-color: rgba(234, 234, 234, 0.677);
}

.section {
  height: 100vh;
  width: 100%;
}

#latest-prod-cover {
  height: 100%;
  width: 100%;
  background-image: url(./icons-images/model-xsw.jpg);
  background-size: cover;
  background-position: center;
}

#prod-title {
  position: relative;
  top: 20rem;
  left: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

#prod-title strong {
  color: white;
  font-size: 6rem;
}

#prod-title h1 {
  color: white;
  font-size: 5rem;
}

#prod-title h2 {
  color: white;
  font-size: 4rem;
}

#latest-prod-btn {
  margin-top: 2rem;
  width: 25rem;
  border: 2px solid rgba(255, 255, 255, 0.163);
}

#latest-prod-btn:hover {
  background-color: rgb(255, 255, 255);
  transition-duration: 100ms;
  border: none;
  box-shadow: 5px 5px 50px 10px rgb(185, 185, 185);
}
#latest-prod-btn:hover p {
  color: rgb(52, 52, 55);
}

#padding-div {
  padding: 2rem;
}

#latest-prod-btn p {
  color: white;
  font-size: 3rem;
}

#news-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#carousel-background {
  background-color: #193576;
  padding: 5rem 0;
  height: auto;
  width: 100%;
  margin: auto;
}

#container-slides {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
}

.slider-img {
  height: auto;
  margin: 0 1rem;
  cursor: pointer;
}

.slider-img:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.667);
}

.carous-p {
  color: antiquewhite;
  font-size: 2.3rem;
}

.slider-img img {
  height: auto;
  width: 100%;
  border: 2px outset rgba(255, 255, 255, 0.532);
}

#grid-section {
  background-color: rgb(238, 247, 255);
}

#grid-h {
  font-size: 5rem;
  font-weight: bold;
  padding-top: 10vh;
}

#column-container {
  width: 100%;
  height: auto;
  margin: 10rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-column {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.product-card {
  height: auto;
  margin: 2rem 0;
  position: relative;
}
.product-card img {
  width: 50rem;
  height: 40rem;
  border: 2px rgb(225, 225, 225) outset;
  box-shadow: 5px 5px 10px 5px;
}

.img-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.img-hover:hover {
  opacity: 1;
  z-index: 2;
  /*    width: 51rem;*/
  transition: 300ms ease-in-out;
}

.prod-h {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.prod-p {
  margin-top: 3rem;
  font-size: 2.2rem;
}

#services-section {
  background-color: rgb(59, 56, 56);
}

#container-services {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  margin: auto 2rem;

}

.services-card {
  width: 65%;
  margin: 10rem 0;
}
.services-card img {
  width: 100%;
  border: 2px rgb(225, 225, 225) outset;
}

.card-p {
  color: white;
  font-size: 2.5rem;
}

.btn-card {
  border: 2px solid rgba(255, 255, 255, 0.163);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
}
.btn-card .btn-p {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
.btn-card a {
  padding: 2.25rem;
}

.btn-card:hover {
  background-color: rgb(255, 255, 255);
  transition-duration: 100ms;
  border: none;
  box-shadow: 5px 5px 50px 10px rgb(185, 185, 185);
}
.btn-card:hover .btn-p {
  color: rgb(52, 52, 55);
}

footer {
  display: flex;
  background-color: white;
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 2rem 0;
}

#footer-text {
  display: flex;
  width: 50%;
  margin-left: 3rem;
  gap: 6rem;
  align-items: center;
}

#social {
  margin: 0 2rem 0 0;
  gap: 3rem;
  text-align: center;
}
#social img {
  width: 40px;
  cursor: pointer;
}

#brand, #legal, #social {
  color: rgb(46, 41, 41);
}

#legal {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */

#menu {
  display: none;
}

#menu-icon img {
  display: none;
  cursor: pointer;
}

.menuOff     
{    
    display: none;    
}    
    
.menuOn    
{    
    display: block;    
} 

#contact-item-mob1, #contact-item-mob2, #contact-item-mob3 {
  padding: 0.5rem;
}


@media screen and (min-width: 350px) and (max-width: 1300px) {
  #contact-item-mob1, #contact-item-mob2, #contact-item-mob3 {
    display: none;
  }

  .nav-item-mob, #contact-mob {
    padding: 0.5rem;
    background-color: rgb(238, 247, 255);
    border: 2px groove antiquewhite;
  }
  

  #container-nav {
    justify-content: space-between;
  }
  
  #container-logo {
    margin: 0 5%;
  }
  
  #logo {
    width: 4rem;

  }

  .nav-item, #contact {
    display: none;
  }


  #menu-icon {
    position: relative;
    margin-right: 5rem;
  }

  #menu-icon img {
    display: block;
    width: 60px;
    height: 60px;
  }

  #menu {
    position: fixed;
    top: 10vh;
    right: 0;
    background-color: white;
  }
  
  #contact-mob {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #contact-mob #contact-p-mob {
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  
  .contact-item-mob {
    display: none;
    height: 100%;
    padding: 1.25rem 1rem;
  }


  .img-hover, .img-hover:hover {
    display: none;
  }

  .services-card {
    width: 35%;
  }
}

@media screen and (min-width: 350px) and (max-width: 1000px) {

#prod-title {
  top: 29rem;
  left: 0rem;
  width: 100%;
}

#prod-title h1, #prod-title strong, #prod-title h2 {
  font-size: 3rem;
}

#latest-prod-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 5px 5px 50px 10px rgba(185, 185, 185, 0.693);
}

#latest-prod-btn p {
  color: rgb(52, 52, 55);
  font-weight: bold;
}

#container-slides {
  flex-direction: column;
}

.slider-img {
  margin: 2rem auto;
  width: 80%;
}

#grid-h {
  font-size: 4rem;
}

#column-container {
  display: block;
  grid-template-columns: 0;
  margin-top: 5rem;
}

.product-column {
  margin-bottom: 0;
}



.product-card {
  margin: 5rem 0;
}

.product-card img {
  width: 90%;
  margin: auto;
  object-fit: contain;
  height: auto;
}

.prod-p {
  margin: 3rem 2rem 0 2rem;
}

#two {
  margin-bottom: 10rem;
} 

#container-services {
  gap: 0;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}

.services-card {
  width: 65%;
}

.services-card {
  margin: 4rem 0;
}

.btn-card {
  margin-top: 1rem;
}

.btn-card a {
  padding: 2.25rem 0;
}


#social {
  margin-right: 2rem;
}

}

@media screen and (min-width: 550px) and (max-width: 1350px) {
  .product-card img {
    width: 70%;
    margin: auto;
  }


@media screen and (min-width: 1001px) and (max-width: 1350px) {
  #grid-h {
    font-size: 4rem;
  }
  
  #column-container {
    display: block;
    grid-template-columns: 0;
    margin-top: 5rem;
  }
  
  .product-column {
    margin-bottom: 0;
  }

  .product-card img {
    width: 70%;
    margin: auto;
    object-fit: contain;
    height: auto;
  }

}

@media screen and (min-width: 350px) and (max-width: 549px) {
  #grid-h {
    font-size: 4rem;
  }
  
  #column-container {
    display: block;
    grid-template-columns: 0;
    margin-top: 5rem;
  }
  
  .product-column {
    margin-bottom: 0;
  }
}
}
