html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Raleway";
    src: url(./Raleway-VariableFont_wght.ttf);
  }


* {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    font-family: "Joan-Regular", Georgia, Verdana;
}

body {
}

a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
}

#container-nav {
    position: fixed;
    width: 100%;
    height: 7rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 0.75rem;
    background-color: rgb(238, 247, 255);
    z-index: 10;
}

#container-logo {
    margin-right: 15rem;
    margin-left: 5rem;
}

#logo {
    display: block;
    width: 7.5rem;
}

.nav-item {
    height: auto;
}

.h-link {
    padding: 1rem;
}

.h-p {
    text-decoration: none;
}

#contact {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 10rem;
    gap: 2rem;
    align-items: center;
    
    #contact-p {
        cursor: pointer;
        font-weight: bold;
        width: 100%;

    }
}
.contact-item {
    opacity: 0;
    height: 100%;
    padding: 1.25rem 1rem;
}

#contact:hover {
    .contact-item {
        opacity: 1;
        transition: 100ms ease-in-out;
    }
}

.contact-item:hover {
    background-color: rgba(234, 234, 234, 0.677);

}
//

.section {
    height: 100vh;
    width: 100%;
}

#latest-prod-cover {
    height: 100%;
    width: 100%;
    background-image: url(./icons-images/model-xsw.jpg);
    background-size: cover;
}

#prod-title {
    position: relative;
    top: 20rem;
    left: 5rem;
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

#prod-title strong {
    color: white;
    font-size: 6rem;
}

#prod-title h1 {
    color: white;
    font-size: 5rem;
}
#prod-title h2 {
    color: white;
    font-size: 4rem;
}

#latest-prod-btn {
    margin-top: 2rem;
    width: 25rem;  
    border: 2px solid rgba(255, 255, 255, 0.163);
}

#latest-prod-btn:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 100ms;
    border: none;
    box-shadow: 5px 5px 50px 10px rgb(185, 185, 185);    
    p{
        color: rgb(52, 52, 55);
    }
}
// 


#padding-div {
    padding: 2rem;
}

#latest-prod-btn p {
    color: white;
    font-size: 3rem;
}
//

#news-section {
    height: fit-content;
}

#carousel-background {
    background-color: #193576;
    padding: 5rem 0;
    height: auto;
    width: 100%;
    margin: auto;
}

#container-slides {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
}
    .slider-img {
        height: auto;
        margin: 0 1rem;
    }
    .slider-img:hover {
        transition: 300ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.667);
    }
        .carous-p {
            color: antiquewhite;
            font-size: 2.3rem;
            }
    

    .slider-img img{
        height: auto;
        width: 100%;
        border: 2px outset rgba(255, 255, 255, 0.532);
    }
//

#grid-section {
    background-color: rgb(238, 247, 255);
}

#grid-h {
    font-size: 5rem;
    font-weight: bold;
    padding-top: 10vh;
}

#column-container {
    width: 100%;
    height: auto;
    margin: 10rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-column {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.product-card {
    height: auto;
    margin: 2rem 0;
    position: relative;

    img {
        width: 50rem;
        height: 40rem;
        border: 2px rgb(225, 225, 225) outset;
        box-shadow: 5px 5px 10px 5px;
    }
}

.img-hover {
    opacity: 0;
    position: absolute;
    left: 0;
    object-position: center;
    width: 100%;
}

.img-hover:hover {
    opacity: 1;
    z-index: 2;
/*    width: 51rem;*/
    transition: 300ms ease-in-out;
}

.prod-h {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
}

.prod-p {
    margin-top: 3rem;
    font-size: 2.2rem;
}

//
#services-section {
    background-color: rgb(59, 56, 56);
}

#container-services {
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;

}

.services-card {
    width: 45rem;
    margin: 10rem 0;
    img {
        width: 100%;
        border: 2px rgb(225, 225, 225) outset;
    }
}

.card-p {
    color: white;
    font-size: 2.5rem;
}

.btn-card {
    border: 2px solid rgba(255, 255, 255, 0.163);
    width: fit-content;
    margin: 2rem auto 0 auto;
    .btn-p {
        color: white;
        font-size: 2rem;
        padding: 1rem;
    }
    a {
        padding: 2.25rem;
    }
}

.btn-card:hover {
    background-color: rgb(255, 255, 255);
    transition-duration: 100ms;
    border: none;
    box-shadow: 5px 5px 50px 10px rgb(185, 185, 185);    

    .btn-p{
        color: rgb(52, 52, 55);
    }
}

//
footer {
    display: flex;
    background-color: white;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: space-between;
    padding: 2rem 0;
}

#footer-text {
    display: flex;
    margin: 0 0 0 3rem;
    width: 50%;
    gap: 10rem;
    align-items: center;


}

#social {
    margin: 0 10rem 0 0;
    gap: 3rem;
    text-align: center;

    img {
        width: 40px;
        cursor: pointer;
    }
}

#brand, #legal, #social {
    color: rgb(46, 41, 41);
    
}

#legal {
    cursor: pointer;
}
//
